<div class="content">
    <button ng-click="order = 'name'">Order By Name</button>
    <button ng-click="order = 'belt'">Order By Belt</button>
    <!-- Ninjas Available  -->
    <h2>Ninjas Available </h2>
    <input type="text" placeholder="Search Available Ninjas" ng-model="SearchAvailable">
    <ul>
      <li ng-repeat="ninja in ninjas | orderBy: order | filter: SearchAvailable " ng-show="ninja.available">
        <h3>{{ninja.name}} -- {{ninja.rate | currency:'$'}}</h3>
        <div class="remove" ng-click="removeNinja(ninja)">X</div>
        <span class="belt" style="background:{{ninja.belt}}">{{ninja.belt}}</span>
      </li>
    </ul>
    <form ng-submit='addNinja()'>
      <input type="text" placeholder="Name" ng-model='newNinja.name'/>
      <input type="text" placeholder="Belt" ng-model='newNinja.belt'/>
      <input type="text" placeholder="Rate" ng-model='newNinja.rate'/>
      <input type="submit" value="Add new ninja"/>
    </form>
</div>
